$gp-light-red: #D56569;
$gp-red: #CE160D;
$gp-dark-red: #AE2020;

$gp-lighter-green: #ABD77A;
$gp-light-green: #7CBF00;
$gp-green: #1E8A05;

$gp-light-yellow: #F9FFBA;
$gp-yellow: #FAFC00;
$gp-dark-yellow: #E7C000;

$gp-lightest-blue: #F7FAFD;
$gp-lighter-blue: #DFEFF9;
$gp-light-blue: #BBE1F3;
$gp-blue: #0000FF;
$gp-dark-blue: #002582;

$gp-light-teal: #9bccf8;
$gp-teal: #76C3F8;
$gp-dark-teal: #339FE1;
$gp-darker-teal: #008AD6;

$gp-lightest-blue-grey: #E9EFF5;
$gp-lighter-blue-grey: #CFE0EE;
$gp-light-blue-grey: #D2DCE5;
$gp-blue-grey: #CAD6E0;
$gp-bluer-grey: #CBD9DC;
$gp-dark-blue-grey: #C0CCD6;
$gp-darker-blue-grey: #8A8E9E;

$gp-white: #FFFFFF;
$gp-off-white: #FAF9F5;
$gp-lightest-grey: #F6F6F6;
$gp-lighter-grey: #D3D3D3;
$gp-light-grey: #C1C1C1;
$gp-grey: #B5B5B5;
$gp-dark-grey: #969593;
$gp-darker-grey: #777777;
$gp-darkest-grey: #666666;
$gp-off-black: #333333;
$gp-black: #000000;
$gp-transparent-black: rgba(0,0,0,0.75);